header {
  background-color: #000033;
  color: #FFFFFF;
  height: 120px
}

footer {
  background-color: #9999CC;
  color: #000033;
  height: 25px
}

p.tabel {
  color: #000033
}

#r1k1 {
  background-color: #99CCFF
}

#r1k2 {
  background-color: #3333FF
}

#r1k3 {
  background-color: #66CCFF
}

#r1k4 {
  background-color: #3366FF
}

#r2k1 {
  background-color: #CC9966
}

#r2k2 {
  background-color: #663333
}

#r2k3 {
  background-color: #996633
}

#r2k4 {
  background-color: #663300
}

#r3k1 {
  background-color: #99CCCC
}

#r3k2 {
  background-color: #339999
}

#r3k3 {
  background-color: #66CCCC
}

#r3k4 {
  background-color: #336666
}

#r4k1 {
  background-color: #FF9933
}

#r4k2 {
  background-color: #CC6600
}

#r4k3 {
  background-color: #CC9933
}

#r4k4 {
  background-color: #996600
}
